@import "variables.scss";
@import "colors.scss";

$padding-root-var: 30px;
$left-width: 100%;
$right-width: calc(100% - $left-width);
$input-height: 40px;
.degree-plan-root {
  min-width: calc(100% - 2 * $padding-root-var);
  height: calc(100% - $navbar-height);
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  .ant-menu {
    border-inline-end: none !important;
  }
  .degree-plan {
    max-width: 1100px;
    .degree-plan::-webkit-scrollbar-track {
      background-color: $light-grey !important;
    }
    padding: $padding-root-var;
    width: $left-width;
    .title {
      font-weight: 700;
      font-size: 28px;
      line-height: 32.2px;
      text-transform: uppercase;
      padding-bottom: 20px;
    }
    .subtitle {
      display: flex;
      align-items: center;
      svg {
        margin-left: 10px;
      }
      font-weight: 700;
      size: 20px;
      line-height: 20px;
      padding-block: 10px;
    }

    .general-info {
      width: 100%;
      padding-bottom: 10px;
      border-bottom: $lg-light-grey-border-bottom;
      margin-bottom: 20px;

      .row {
        padding-bottom: 10px;
        .left {
          text-align: right;
          span {
            vertical-align: middle;
            padding: 2px;
            font-weight: 400;
            font-size: 16px;
            white-space: break-spaces;
            &.asterisk {
              color: $red;
            }
          }
        }
      }
    }

    .title-span {
      display: flex;
      justify-content: space-between;
      .course-info {
        color: $grey;
        font-weight: 700;
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 10px;
      }

      .add-class-button {
        width: 200px;
        display: flex;
        justify-content: right;
        align-items: center;
      }
    }

    .ant-table-wrapper {
      @for $i from 0 through 100 {
        &.row-#{$i} tr[data-row-key="#{$i}"] td {
          background-color: $grey;
        }
      }
    }

    table {
      border-bottom: $lg-light-grey-border-bottom;

      * {
        color: $dark-grey;
      }
      th {
        background: $light-grey;
        font-weight: 700;
        font-size: 16px;
      }
      td {
        font-size: 16px;
      }

      .warning-table-full {
        td {
          background-color: gold;
          &.ant-table-cell-row-hover {
            background-color: goldenrod;
          }
        }
      }
    }

    .signature {
      display: flex;
      align-items: center;
      padding-inline: 15%;
      padding-top: 40px;
      span {
        white-space: nowrap;
        padding-right: 3px;
      }
    }
    .generate-button {
      padding-block: 30px;
      display: flex;
      justify-content: center;
    }
  }
  .ant-collapse {
    .ant-collapse-header {
      display: flex;
      align-items: center;
      font-size: 20px;
      .ant-collapse-expand-icon {
        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
.search-root {
  // width: $right-width;
  height: 100%;

  .search-input {
    border-bottom: $lg-light-grey-border-bottom;
    width: 100%;
    display: flex;
    div {
      width: $input-height;
      display: flex;
      justify-content: center;
      align-content: center;
    }
    input {
      border: none;
      width: 100%;
      height: $input-height;
      outline: none;
    }
  }
  .class-list {
    height: calc(100% - $input-height - 4px);
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: $sm-light-grey-border-bottom;
      padding: 5%;
      cursor: pointer;

      p:first-child {
        padding-left: 3px;
      }
    }
  }
}
.class-form-root {
  .back {
    color: $orange;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
  }
  .asterisk {
    color: $red;
  }

  .ant-drawer-body {
    padding-top: 10px;
  }
  font-weight: 400;
  font-size: 16px;

  .row {
    input {
      margin-top: 5px;
    }
    margin-bottom: 10px;
  }
  .button-float-right {
    display: flex;
    justify-content: right;
  }
}
.moving {
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 0;
  cursor: pointer !important;

  .ant-table-cell-row-hover {
    border-bottom: 3px solid $orange !important;
  }
  .header-hovered {
    tr[data-row-key="0"] td {
      border-top: 3px solid $orange !important;
    }
  }
}
.moving-notification-root {
  z-index: 5;
  background-color: $orange;
  width: 400px;
  height: 50px;
  position: absolute;
  top: 10px;
  border-radius: 10px;
  .moving-notification {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .button {
      width: 100px;
    }
  }
}
.select-track {
  .ant-modal-header {
    padding-bottom: 20px !important;
  }
  button {
    width: 100% !important;
  }
}
