@import "variables.scss";
@import "colors.scss";

$footer-height: 70px;
.home-page-root {
  min-width: 100%;
  height: calc(100% - $navbar-height);
  display: flex;
  justify-content: center;
  overflow-y: auto;

  .home-page {
    img {
      width: 30%;
    }
    justify-content: center;
    margin: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: calc($footer-height + 20px);

    div {
      display: flex;
      justify-content: center;
      text-align: center;
      padding-block: 15px;
    }
    .title {
      font-size: 36px;
      font-weight: 700;
      line-height: 38.7px;
      color: $orange;
      font-family: "Modesto Text";
      letter-spacing: 0.055em;
    }
    .container-upload {
      width: calc(100% - 100px) !important;
      display: flex;
      flex-direction: column;
      .upload-box {
        cursor: pointer;
        height: 180px;
        min-height: 180px;
        background: $lighter-grey;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px $orange dashed;
        border-radius: 5px;
        font-size: 20px;

        .info {
          color: $dark-grey;
          font-weight: 700;
          padding-block: 10px;
        }
        .info-subtitle {
          color: $grey;
          font-weight: 400;
        }
      }
      .file-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: start;

        .file-element {
          &.loading {
            color: $grey;
          }

          font-size: 20px;
          padding: 5px;
          margin: 5px;
          border: 1px $orange solid;
          border-radius: 5px;
          width: calc(100% - 10px);
          height: 45px;

          display: flex;
          align-items: center;
          justify-content: space-between;
          span {
            width: 80%;
            font-weight: 700;
            font-size: 20px;
            text-align: left;
          }
          &.pointer {
            cursor: pointer;
          }
        }
      }
    }
  }
}
footer {
  border-top: 0.5px solid $grey;
  position: fixed;
  height: $footer-height;
  width: 100%;
  top: calc(100% - $footer-height);
  color: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  div:first-child {
    padding-left: 20px;
  }
  div:nth-child(2) {
    padding-right: 20px;
  }
  .support {
    cursor: pointer;
    display: flex;
    align-items: center;
    span {
      color: $orange;
      padding-left: 5px;
      font-weight: 700;
      font-size: 16px;
    }
  }
}
.setting-root {
  width: 100%;
  .buttons {
    display: flex;
    justify-content: space-between;
    padding-block: 10px;
  }
  .row {
    padding: 5px;
    .row-upper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .row-lower {
      display: flex;
      border: 1px solid $grey;
      border-radius: 10px;
      .button-div {
        display: flex;
        padding-right: 3px;
      }
    }
  }
}
